input[type=range] {
  -webkit-appearance: none;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  height: 8.4px;
  cursor: pointer;
  box-shadow: 0px 0px 1px #555, 0px 0px 0px #333;
  background: white;
  border-radius: 1.3px;
  border: 0px solid #010101;
}

input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 1px #555, 0px 0px 0px #333;
  border: 1px solid rgba(0, 0, 0, 0);
  height: 16px;
  width: 9px;
  border-radius: 2px;
  background: white;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -3.8px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: white;
}

input[type=range]::-moz-range-track {
  height: 8.4px;
  cursor: pointer;
  box-shadow: 0px 0px 1px #555, 0px 0px 0px #333;
  background: white;
  border-radius: 1.3px;
  border: 0px solid #010101;
}

input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 1px #555, 0px 0px 0px #333;
  border: 1px solid rgba(0, 0, 0, 0);
  height: 16px;
  width: 9px;
  border-radius: 2px;
  background: #ffffff;
  cursor: pointer;
}

input[type=range]::-ms-track {
  height: 8.4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

input[type=range]::-ms-fill-lower {
  background: white;
  border: 0px solid #010101;
  border-radius: 2.6px;
  box-shadow: 0px 0px 1px #555, 0px 0px 0px #333;
}

input[type=range]::-ms-fill-upper {
  background: white;
  border: 0px solid #010101;
  border-radius: 2.6px;
  box-shadow: 0px 0px 1px #555, 0px 0px 0px #333;
}

input[type=range]::-ms-thumb {
  box-shadow: 0px 0px 1px #555, 0px 0px 0px #333;
  border: 1px solid rgba(0, 0, 0, 0);
  height: 16px;
  width: 9px;
  border-radius: 2px;
  background: #ffffff;
  cursor: pointer;
  height: 8.4px;
}

input[type=range]:focus::-ms-fill-lower {
  background: white;
}

input[type=range]:focus::-ms-fill-upper {
  background: white;
}

.objectlist-error {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #b51c1c;
  font-family: sans-serif;
  background-color: white;
  border-radius: 4px;
  margin: 10px;
  padding: 10px;
  border: 1px solid #cccccc;
  border-color: #b51c1c;
}

.objectlist-error__icon {
  font-size: 2em;
  margin-right: 10px;
}

.objectlist-button {
  background-color: white;
  border: 1px solid #cccccc;
  border-radius: 4px;
  margin: 10px;
  padding: 5px 10px;
  cursor: pointer;
  color: #464646;
  text-decoration: none;
  line-height: 2em;
  font-size: 1em;
  outline: 0;
}

.objectlist-button:-moz-focus-inner {
  border: none;
}

.objectlist-input__container {
  position: relative;
}

.objectlist-row input {
  height: 24px !important;
}

.objectlist-input__container > input,
.objectlist-input {
  font-family: sans-serif;
  height: 24px !important;
  font-size: 1em;
  border: 1px solid #cccccc;
  border-radius: 4px;
  padding: 5px;
  box-sizing: content-box !important;
}

.objectlist-input__container > input:placeholder,
.objectlist-input:placeholder {
  color: #aaa;
}

.objectlist-input__container > input:-moz-placeholder,
.objectlist-input:-moz-placeholder {
  opacity: 1;
}

.objectlist-input__container > input__favourite,
.objectlist-input__favourite {
  height: auto;
}

.objectlist-input__daypicker {
  position: absolute;
  z-index: 10;
  top: 45px;
  right: 0;
  border: 1px solid #cccccc;
  background: white;
  border-radius: 4px;
}

.objectlist-input--big {
  line-height: 2em;
  margin: 10px;
  padding: 10px;
}

.objectlist-delete {
  cursor: pointer;
  display: block;
  margin-left: 0.5rem;
}

.react-api-list .Select--multi .Select-value-icon {
  /* fix for center-aligning the 'x' on multiselect filters*/
  padding-top: 2px;
  padding-bottom: 2px;
}

.objectlist-filters {
  margin: 10px;
}

.objectlist-filters .Select-control {
  border: 1px solid #cccccc;
  border-radius: 4px;
  line-height: 3.5rem;
}

.objectlist-filters .Select-placeholder {
  line-height: inherit;
}

.objectlist-filters .Select-input {
  vertical-align: initial;
  width: 200px;
}

.objectlist-button--link {
  background-color: initial;
  border: none;
  text-decoration: underline;
  color: blue;
}

.objectlist-link {
  margin: 0 5px;
}

.objectlist-dropdown {
  font-family: sans-serif;
  position: relative;
  display: inline-block;
}

.objectlist-dropdown.open .objectlist-dropdown__menu {
  display: block;
}

.objectlist-dropdown__divider {
  height: 1px;
  background: #cccccc;
  margin: 4px 0;
}

.objectlist-dropdown__menu {
  background-color: white;
  position: absolute;
  display: none;
  margin-top: 2px;
  border: 1px solid #cccccc;
  padding: 4px 0;
  border-radius: 4px;
  right: 0;
  z-index: 10;
}

.objectlist-dropdown__menu--borderless {
  top: calc(100% - 10px);
  right: 8px;
}

.objectlist-dropdown__item {
  display: flex;
  width: 100%;
  box-sizing: border-box;
  padding: 3px 8px;
  font-weight: normal;
  text-align: inherit;
  white-space: nowrap;
  background: none;
  align-items: center;
  border: 0;
  font-size: inherit;
}

.objectlist-dropdown__item:hover {
  background-color: #f5f5f5;
  cursor: pointer;
}

.objectlist-dropdown__item--input {
  padding: 0px 4px;
}

.objectlist-dropdown__item--favourite {
  justify-content: space-between;
}

.objectlist-dropdown__item--selected {
  background-color: #f5f5f5;
}

.objectlist-dropdown__icon {
  padding-right: 5px;
}

.objectlist-column {
  display: flex;
  align-items: center;
  align-self: flex-end;
  flex-wrap: wrap;
  flex-direction: row;
}

.objectlist-row {
  font-family: sans-serif;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.objectlist-row .Select-control {
  height: auto;
}

.objectlist-row .month-picker {
  margin: 10px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.objectlist-row .month-picker input {
  flex-grow: 1;
}

.objectlist-row .month-picker .container {
  margin-bottom: initial;
}

.objectlist-row--search .objectlist-input {
  height: auto;
}

.objectlist-row--right {
  justify-content: flex-end;
}

.objectlist-row__actions {
  margin-bottom: 5px;
  justify-content: space-between;
}

.objectlist--grow {
  flex-grow: 1;
}

.objectlist--grow-long {
  flex-grow: 5;
}

.objectlist-results-text {
  width: 100%;
  color: #999;
  font-style: italic;
}

.objectlist-button--dropdown {
  margin: 0;
}

.objectlist-button--dropdown:after {
  content: "\F0D7";
  font-family: "fontawesome";
  padding-left: 10px;
}

.objectlist-button--dropdown.open:after {
  content: "\F0D8";
}

.objectlist-button--dropdown:focus {
  outline: 0;
}

.objectlist-button--favourites {
  margin-left: 10px;
  line-height: 18px;
}

.objectlist-button--icon {
  padding-right: 10px;
  color: black;
  margin: 5px;
}

.objectlist-button--primary {
  background-color: #337ab7;
  color: white;
}

.objectlist-button--nomargin {
  padding: 2px 10px;
  margin: 0;
}

.objectlist-button--small {
  padding: 0px 5px;
  font-size: 0.8em;
  margin: 2px;
}

.objectlist-button--borderless {
  border: none;
}

.objectlist-select-filter {
  font-family: sans-serif;
  width: 200px;
  margin-left: 10px;
}

.objectlist-select-filter .Select-input {
  height: auto;
  line-height: 1em;
  padding: 0;
  padding-bottom: 2px;
}

.objectlist-select-filter .Select-input > input {
  padding: 0;
}

.objectlist-select-filter.is-open .Select-control {
  border-radius: 4px;
}

.objectlist-select-filter .Select-control {
  padding: 5px 10px;
}

.objectlist-select-filter .Select-placeholder {
  margin-left: 1.5em;
}

.objectlist-select-filter .Select-input:before {
  margin-right: 0.5em;
  content: "\F0B0";
  font-family: "FontAwesome";
  color: #464646;
}

.objectlist-select-filter .Select-arrow-zone {
  padding: 0;
  text-align: right;
}

.objectlist-select-filter .Select-arrow,
.objectlist-select-filter .Select-arrow-zone:hover > .Select-arrow {
  border-top-color: #464646;
}

.objectlist-select-filter.is-open .Select-arrow-zone > .Select-arrow {
  border-bottom-color: #464646;
}

.objectlist-select-filter .Select-menu-outer {
  min-width: 150px;
  right: 0;
  left: unset;
  width: auto;
  border-radius: 4px;
  margin-top: 2px;
}

.objectlist-current-filter__filter-name {
  margin: 5px 0;
  min-width: 150px;
}

.objectlist-current-filter__filter-comparison {
  margin: 5px 10px;
  flex-basis: 100px;
  flex-grow: 1;
  min-width: 160px;
}

.objectlist-current-filter__active-status {
  margin: 5px 0;
  flex-basis: 300px;
  flex-grow: 3;
}

.objectlist-button--delete:after {
  content: "\F056";
  font-family: "fontawesome";
}

.objectlist-dayfilter {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.objectlist-dayfilter__day-name {
  display: inline;
}

.objectlist-currency-filter {
  position: relative;
  display: flex;
}

.objectlist-currency-filter__symbol {
  position: absolute;
  background: rgba(0, 0, 0, 0.02);
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  padding: 0px 5px;
  line-height: 36px;
}

.objectlist-input--currency {
  padding-left: 1.3rem;
  padding-right: 2rem;
  flex-grow: 1;
}

.objectlist-currency-filter__decimal {
  position: absolute;
  right: 0px;
  background: rgba(0, 0, 0, 0.02);
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  padding: 0px 5px;
  line-height: 36px;
}

.objectlist-input__number-slider--number {
  width: 5rem;
  margin-right: 0.2rem;
}

.objectlist-input__number-slider--slider {
  flex-grow: 1;
}

.objectlist-pagination {
  margin-top: 10px;
  line-height: 1.2em;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: sans-serif;
}

.objectlist-pagination__pages {
  display: flex;
  padding: inherit;
  flex-wrap: wrap;
  list-style-type: none;
}

.objectlist-pagination__page:first-child .objectlist-pagination__page--link {
  border-bottom-left-radius: 0.25rem;
  border-top-left-radius: 0.25rem;
}

.objectlist-pagination__page:last-child .objectlist-pagination__page--link {
  border-bottom-right-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.objectlist-pagination__page.disabled .objectlist-pagination__page--link {
  color: #a4a4a4;
  font-weight: lighter;
  cursor: default;
  background: white;
  text-decoration: none;
}

.objectlist-pagination__page.active .objectlist-pagination__page--link {
  border-color: #337ab7;
  background-color: #337ab7;
  color: white;
  z-index: 5;
  cursor: default;
}

.objectlist-pagination__page--link {
  border: 1px solid #cccccc;
  padding: 0.5rem 0.75rem;
  text-decoration: none;
  margin-left: -1px;
  display: block;
  color: #337ab7;
}

.objectlist-pagination__page--link:hover {
  background: #eaeaea;
  text-decoration: underline;
}

.objectlist-pagination__page--link:active {
  color: #6da5d6;
}

.objectlist-pagination__records {
  color: #a4a4a4;
  font-weight: lighter;
}

.objectlist-table {
  min-width: 100%;
  border-collapse: collapse;
  font-family: sans-serif;
}

.objectlist-table [role="button"] {
  cursor: pointer;
}

.objectlist-table--scroll {
  overflow-x: auto;
  position: relative;
}

.objectlist__overlay {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  background: white;
  opacity: 0.6;
  display: none;
  z-index: 10;
}

.objectlist__overlay--loading {
  display: block;
}

.objectlist-table__row:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, 0.02);
}

.objectlist-table__row--clickable:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.05);
}

.objectlist-table__row--summary {
  line-height: 2em;
  background-color: #eceeef;
  font-weight: bold;
}

.objectlist-table__td,
.objectlist-table__th {
  border-top: 1px solid #eceeef;
  padding: 0.7rem;
}

.objectlist-table__thead--grouped-headers .objectlist-table__th {
  border: 1px solid #eceeef;
}

.objectlist-table__checkbox {
  vertical-align: middle;
}

.objectlist-table__th--selector {
  width: 1rem;
}

.objectlist-table__th {
  text-align: left;
  position: relative;
  vertical-align: bottom;
}

.objectlist-table__th .handle {
  position: absolute;
  top: 0;
  right: 0;
  width: 1em;
  height: 100%;
  cursor: ew-resize;
}

.objectlist-table__th .handle.hover {
  border-right: 1px solid #efefef;
}

.objectlist-table__thead--grouped-headers .objectlist-table__th--border-bottom,
.objectlist-table__th--border-bottom {
  border-bottom: 2px solid #eceeef;
}

.objectlist-table .sort-direction {
  white-space: pre;
}

.objectlist-list__list {
  padding: 0 10px;
  font-family: sans-serif;
}

.objectlist-list__item {
  padding: 10px;
  border: 1px solid #cccccc;
  list-style-type: none;
  margin: 1em 0;
  position: relative;
}

.objectlist-list__item--clickable:hover {
  cursor: pointer;
  background: rgba(0, 0, 0, 0.05);
}

.objectlist-list__link {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  color: #337ab7;
}

.objectlist-list__header {
  margin: 0;
  font-size: 1.3em;
  margin-bottom: 0.2em;
}

.objectlist-list__content {
  margin-bottom: 1em;
}

.objectlist-list__content:last-child {
  margin-bottom: 0;
}
